/* ==UserStyle==
@name         Read Glassdoor Reviews Without Login 
@version      20260901.14.25
@author       samchiu90 (https://github.com/samchiu90) 
@namespace  ?
==/UserStyle== */

@-moz-document regexp("^https:\/\/www\.glassdoor\.com(?:\.[a-z]{2,})?\/(Reviews|Overview|pay-and-benefits|Jobs|Interview)\/.*$") {
  div:has(#HardsellOverlay){
      display: none;
  }
  body{
     overflow: auto !important;
     position: unset !important;
  }
  *,
  *::before,
  *::after {
      filter: blur(0) !important;
      backdrop-filter: blur(0) !important;
  }
  div[class^='BlurredOverlay_overlay'], div[class*=' BlurredOverlay_overlay']{
      display: none;
  }
}
