/* ==UserStyle==
@name         Read Glassdoor Reviews Without Login 
@version      1.0.0 
@author       samchiu90 (https://github.com/samchiu90) 
==/UserStyle== */

@-moz-document url-prefix("https://www.glassdoor.com.hk/Reviews/") {
  div:has(#HardsellOverlay){
      display: none;
  }
  body{
     overflow: auto !important;
     position: unset !important;
  }
  *,
  *::before,
  *::after {
      filter: blur(0) !important;
      backdrop-filter: blur(0) !important;
  }
  div[class^='BlurredOverlay_overlay'], div[class*=' BlurredOverlay_overlay']{
      display: none;
  }
}
